@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-thin-webfont.eot");
    src: url("../fonts/roboto-thin-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto-thin-webfont.ttf") format("truetype"),
    url("../fonts/roboto-thin-webfont.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-light-webfont.eot");
    src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto-light-webfont.ttf") format("truetype"),
    url("../fonts/roboto-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-regular-webfont.eot");
    src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto-regular-webfont.ttf") format("truetype"),
    url("../fonts/roboto-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}