html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
button, select,
input, input[type="reset"], input[type="button"], input[type="submit"], textarea {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    outline: none;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: inherit;
    vertical-align: baseline;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
}

button, input[type="submit"], input[type="checkbox"], a, select {
    cursor: pointer;
}
textarea {background-color: transparent; resize: none;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    word-wrap: break-word;
    overflow-y: scroll;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

::-ms-clear {
    display: none;
}