$background-color: #fff;
$border-color: #ee3124;

.tooltipster-sidetip.tooltipster-error .tooltipster-box {
	margin: 12px;
	border-radius: 3px;
	border: 1px solid $border-color;
	background: #fff
}
.tooltipster-sidetip.tooltipster-error.tooltipster-bottom .tooltipster-box {
	margin-top: 6px;
}
.tooltipster-sidetip.tooltipster-error.tooltipster-top .tooltipster-box {
	margin-bottom: 6px;
}
.tooltipster-sidetip.tooltipster-error.tooltipster-right .tooltipster-box {
	margin-left: 6px;
}
.tooltipster-sidetip.tooltipster-error.tooltipster-left .tooltipster-box {
	margin-right: 6px;
}
.tooltipster-sidetip.tooltipster-error .tooltipster-content {
	padding: 10px 14px 12px;
	color: #ee3124;
	font-size: 12px;
	line-height: 16px;
}
.tooltipster-sidetip.tooltipster-error .tooltipster-arrow {
	height: 7px;
	margin-left: -8px;
	width: 14px
}
.tooltipster-sidetip.tooltipster-error.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-error.tooltipster-right .tooltipster-arrow {
	height: 14px;
	margin-left: 0;
	margin-top: -8px;
	width: 7px
}
.tooltipster-sidetip.tooltipster-error .tooltipster-arrow-background {
	border: 7px solid transparent
}
.tooltipster-sidetip.tooltipster-error.tooltipster-bottom .tooltipster-arrow-background {
	border-bottom-color: $background-color;
	top: 1px
}
.tooltipster-sidetip.tooltipster-error.tooltipster-left .tooltipster-arrow-background {
	border-left-color: $background-color;
	left: -1px
}
.tooltipster-sidetip.tooltipster-error.tooltipster-right .tooltipster-arrow-background {
	border-right-color: $background-color;
	left: 1px
}
.tooltipster-sidetip.tooltipster-error.tooltipster-top .tooltipster-arrow-background {
	border-top-color: $background-color;
	top: -1px
}
.tooltipster-sidetip.tooltipster-error .tooltipster-arrow-border {
	border: 7px solid transparent
}
.tooltipster-sidetip.tooltipster-error.tooltipster-bottom .tooltipster-arrow-border {
	border-bottom-color: $border-color
}
.tooltipster-sidetip.tooltipster-error.tooltipster-left .tooltipster-arrow-border {
	border-left-color: $border-color
}
.tooltipster-sidetip.tooltipster-error.tooltipster-right .tooltipster-arrow-border {
	border-right-color: $border-color
}
.tooltipster-sidetip.tooltipster-error.tooltipster-top .tooltipster-arrow-border {
	border-top-color: $border-color
}
.tooltipster-sidetip.tooltipster-error.tooltipster-bottom .tooltipster-arrow-uncropped {
	top: -7px
}
.tooltipster-sidetip.tooltipster-error.tooltipster-right .tooltipster-arrow-uncropped {
	left: -7px
}