@import "reset";
@import "fonts";
@import "tooltipster-bundle";
@import "tooltipster-theme-default";
@import "tooltipster-theme-error";

body {
	overflow-y: scroll;
	background-color: #fff;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 14px;
	color: #000;
}

.uppercase {
	text-transform: uppercase;
}


@media (min-width: 1001px) {
	.br-mobile {
		display: none;
	}
}

@media (max-width: 1000px) {	
	.br-desktop {
		display: none;
	}
}

/* Modals */

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    overflow-y: hidden;
    transition-duration: 0.3s;
    visibility: hidden;
}

.modal.modal__loading {
    background-color: rgba(255, 255, 255, 0.8);
	background-image: url("../img/loading.gif");
	background-position: center;
	background-repeat: no-repeat;
}

.modal.active {
    opacity: 1;
    visibility: visible;
    overflow-y: scroll;
}

.modal::after {
    height: 100%;
    vertical-align: middle;
    content: " ";
    display: inline-block;
}

/* Modals END*/

/* Header */

.header__sticky {
	display: none;
}

.header__wrapper {
	position: relative;
	z-index: 2;
	color: #fff;
	background-color: #99a8b8;
	background-image: url("../img/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 50px;
}

.header__wrapper-sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 4;
	box-shadow: 0 0 20px 30px #fff;
}

.header {
	margin: auto;
	max-width: 1024px;
	padding: 0 15px;
	font-size: 0;
}

.header__left {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.header__right {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	text-align: right;
}

.header__logo {
	display: inline-block;
	vertical-align: top;
}

.header__logo-img {
	display: block;
	margin-top: 16px;
	width: 177px;
	height: 37px;
}

.header__link-back {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-top: 29px;
	margin-left: 56px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	font-size: 16px;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.6);
	transition-duration: 0.3s;
}

.header__link-back:hover {
	border-bottom-color: rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
}

.header__link-back::before {
	content: " ";
	display: block;
	position: absolute;
	left: -25px;
	top: 4px;
	width: 15px;
	height: 11px;
	background-image: url("../img/arrow-back.png");
	background-position: center;
	background-size: 13px;
	background-repeat: no-repeat;
	opacity: 0.6;
	transition-duration: 0.3s;
}

.header__link-back:hover::before {
	transform: translateX(-5px);
	opacity: 1;
}

.header__phone {
	display: inline-block;
	vertical-align: top;
	margin-top: 23px;
	margin-right: 15px;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.6);
	transition-duration: 0.3s;
}

.header__phone:hover {
	color: rgba(255, 255, 255, 1);
}

.header__callback {
	display: inline-block;
	vertical-align: top;
	margin-top: 28px;
	margin-left: 15px;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
	font-size: 16px;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.6);
	transition-duration: 0.3s;
}

.header__callback:hover {
	border-bottom-color: rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
}

.header__title {
	margin-top: 46px;
	min-height: 41px;
	font-weight: 100;
	font-size: 30px;
	text-align: center;
}

.header__steps {
	margin-top: 12px;
	text-align: center;
	font-size: 0;
}

.header__step {
	display: inline-block;
	vertical-align: top;
	font-weight: 400;
	margin: 0 15px;
}

.header__step-number {
	display: inline-block;
	vertical-align: top;
	margin-right: 18px;
	border: 1px solid #fff;
	border-radius: 100px;
	padding-top: 2px;
	width: 27px;
	height: 25px;
	background-color: transparent;
	font-size: 16px;
	text-align: center;
	transition-duration: 0.3s;
}

.header__step.active .header__step-number {
	border-width: 0;
	margin: 1px 19px 1px 1px;
	padding-top: 1px;
	height: 26px;
	background-color: #fff;
	font-size: 18px;
	color: #47688d;
}

.header__step.done .header__step-number {
	font-size: 0;
	color: transparent;
	background-image: url("../img/step-done.png");
	background-position: top 9px center;
	background-size: 17px;
	background-repeat: no-repeat;
}


.header__step-text {
	display: inline-block;
	vertical-align: top;
	padding-top: 6px;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

@media (max-width: 1000px) {
	.header__sticky {
		display: block;
		position: fixed;
		left: 0;
		top: -100%;
		z-index: 3;
		padding-bottom: 8px;
		width: 100%;
		color: #fff;
		background-color: #99a8b8;
		background-position: bottom center;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url("../img/bg-mobile.jpg");
		box-shadow: 0 0 20px 30px #fff;
		transition-duration: 0.3s;
		
		&.sticked {
			top: 0;
		}
		
		.header__title {
			margin-top: 10px;
			min-height: 0;
			font-size: 15px;
			line-height: 17px;
			font-weight: 100;
		}

		.header__steps {
			margin-top: 5px;
		}

		.header__step {
			margin-left: 6px;
			margin-right: 6px;
			
			&.done {
				
				
				.header__step-number {
					margin-left: -1px;
					margin-right: -1px;
					padding-top: 0;
					padding-left: 0;
					width: 20px;
					height: 20px;
					font-size: 0;
					background-position: top 6px left 4px;
					background-size: 12px;
				}
			}
			
			&.active {
				
				
				.header__step-number {
					padding-top: 0;
					padding-left: 0;
					width: 18px;
					height: 18px;
					font-size: 12px;
				}
			}
		}

		.header__step-number {
			padding-top: 0;
			padding-left: 0;
			width: 18px;
			height: 18px;
			font-size: 12px;
		}
	}
	
	.header__wrapper {
		padding-bottom: 24px;
		background-image: url("../img/bg-mobile.jpg");
	}
	
	.header__wrapper-sticky {
		display: none;
	}

	.header {
	}

	.header__left {
		display: block;
		width: auto;
		text-align: left;
	}

	.header__right {
		display: block;
		width: auto;
		text-align: center;
	}

	.header__logo {
		
	}

	.header__logo-img {
		margin-top: 13px;
		margin-left: 5px;
		width: 145px;
		height: 30px;
	}

	.header__link-back {
		display: none
	}

	.header__phone {
		position: absolute;
		top: 18px;
		right: 65px;
		margin: 0;
		width: 25px;
		height: 25px;
		font-size: 0;
		color: transparent;
		background-image: url("../img/phone.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px;
	}

	.header__phone:hover {
		
	}

	.header__callback {
		position: absolute;
		right: 46px;
		top: 17px;
		margin-top: 0;
		margin-left: 0;
		width: 0;
		height: 0;
		font-size: 0;
		
		&::before {
			content: "?";
			display: block;
			border: 1px solid #fff;
			border-radius: 100px;
			padding-top: 3px;
			width: 24px;
			height: 21px;
			font-size: 13px;
			text-align: center;
			color: #fff;
		}
	}

	.header__callback:hover {
		
	}

	.header__title {
		margin-top: 51px;
		min-height: 0;
		font-size: 20px;
		line-height: 24px;
		padding: 0 20px;
		font-weight: 300;
	}

	.header__steps {
		margin-top: 21px;
	}

	.header__step {
		margin: 0 10px;
	}

	.header__step-number {
		margin-right: 0;
		padding-left: 1px;
		width: 30px;
		height: 29px;
		font-weight: 100;
		font-size: 18px;
	}

	.header__step.active .header__step-number {
		margin: 0;
		border-width: 1px;
		padding-top: 3px;
		width: 30px;
		height: 28px;
		font-weight: 400;
	}

	.header__step.done .header__step-number {
		margin-top: -1px;
		margin-bottom: -1px;
		width: 32px;
		height: 31px;
		background-position: top 9px left 6px;
		background-size: 22px;
	}


	.header__step-text {
		display: none;
	}
}

/* Header END */

/* Content */

.content {
	background-color: #fff;
	color: #000;
}

.content__container {
	position: relative;
	margin: auto;
	padding: 0 15px;
	width: 730px;
	font-size: 0;
}

.content__title {
	margin-top: 59px;
	margin-bottom: 57px;
	padding-left: 5px;
	font-weight: 100;
	font-size: 55px;
}

.content__title-margin-bottom {
	margin-bottom: 11px;
}

.content__text {
	
	p {
		padding-bottom: 6px;
		font-size: 14px;
		line-height: 19px;
	}
	
	strong {
		display: inline-block;
		font-weight: 400;
		font-size: 28px;
		line-height: 28px;
		padding-bottom: 3px;
	}
}

.content__text-padding-left-desktop {
	padding-left: 8px;
}

@media (max-width: 1000px) {
	.content {
		
	}

	.content__container {
		padding: 0 30px;
		max-width: 420px;
		width: auto;
		
		&.content__container-no-padding {
			padding: 0;
			
			.content__title,
			.content__text {
				padding: 0 30px;
			}
		}
	}

	.content__title {
		margin-top: 47px;
		margin-bottom: 26px;
		font-size: 28px;
		line-height: 32px;
	}

	.content__title-margin-bottom {
		margin-bottom: 8px;
	}

	.content__text {
		
		p {
			padding-bottom: 4px;
		}
		
		strong {
			padding-bottom: 3px;
			font-size: 18px;
			line-height: 24px;
		}
	}

	.content__text-padding-left-desktop {
		font-size: 13px;
		line-height: 18px;
		padding-left: 0;
	}
}

/* Content  END */

/* Buttons */

.btn {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	border-radius: 4px;
	padding: 11px 27px 0;
	height: 41px;
	font-size: 20px;
	color: #fff;
	background-color: #ee3124;
	transition-duration: 0.3s;
}

.btn__arrow {
	position: relative;
	padding-left: 47px;
	padding-right: 61px;
	
	&::before {
		content: " ";
		display: block;
		position: absolute;
		top: 18px;
		right: 29px;
		width: 11px;
		height: 17px;
		background-image: url("../img/arrow-btn.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 9px;
		transition-duration: 0.3s;
	}
	
	&:hover::before {
		transform: translateX(6px);
	}
}

.btn:hover {
	background-color: #f25f55;
}

.btn__plain {
	background-color: #fff;
	border: 1px solid #ee3124;
	color: #ee3124;
	padding-left: 32px;
	padding-right: 27px;
	
	&:hover {
		border-color: #f25f55;
		color: #f25f55;
		background-color: #fff;
	}
	
	&.btn__arrow {
		padding-right: 46px;
		
		&::before {
			top: 21px;
			right: 21px;
			width: 17px;
			height: 11px;
			background-image: url("../img/arrow-btn-2.png");
			background-size: 15px;
		}
		
		&:hover::before {
			transform: translateY(2px);
		}
	}
}

.btn__delay {
	transition-delay: 0.3s;
}

.btn.disabled {
	cursor: default;
	opacity: 0.2;
}

.btn.hidden {
	margin-top: 0;
	padding-top: 0;
	height: 0;
	opacity: 0;
}


.btn__arrow-transparent {
	background-color: transparent;
	color: #e1352c;
	border: 1px solid #e1352c; 
}

.btn__arrow-transparent:before {
	width: 9px;
	height: 17px;
	background-image: url("../img/arrow-btn-red.png");
	background-size: cover; 
}

.btn__arrow-transparent:hover {
	background-color: transparent;
	-webkit-box-shadow: inset 0px 0px 3px 0px rgba(225, 53, 44, 0.7);
	box-shadow: inset 0px 0px 3px 0px rgba(225, 53, 44, 0.7); 
}

@media (max-width: 1000px) {
	.btn {
		display: block;
		text-align: center;
	}

	.btn__arrow {
		
		&::before {
			right: 21%;
		}
		
		&:hover::before {
			transform: translateX(0);
		}
	}

	.btn:hover {
		background-color: #ee3124;
	}

	.btn__plain {
		
		
		&:hover {
			background-color: #fff;
		}
		
		&.btn__arrow {
			
			
			&::before {
				transform: rotate(-90deg);
				right: 17%;
			}
			
			&:hover::before {
				transform: rotate(-90deg);
			}
		}
	}
}

/* Buttons END */

/* SMS */

.sms__get {
	margin-top: 48px;
}

.sms {
	overflow: hidden;
	margin-top: 32px;
	padding-bottom: 29px;
	max-height: 171px;
	transition-duration: 0.3s;
	transition-delay: 0.3s;
	
	&.hidden {
		margin-top: 0;
		padding-top: 0;
		max-height: 0;
		height: 0;
		opacity: 0;
	}
}

.sms__enter {
	margin-top: 1px;
}

.sms__text {
	display: inline-block;
	vertical-align: top;
	height: 53px;
	padding-top: 1px;
	
	&::before {
		content: " ";
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 100%;
	}
}

.sms__text-middle {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 19px;
}

.sms__label {
	margin-left: 18px;
}

.sms__input {
	width: 139px;
}

.sms__br-mobile {
	display: none;
	width: 100%;
	height: 0;
}

.sms__resend,
.sms__timer {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	position: relative;
	margin-top: 16px;
	margin-left: 19px;
	padding-left: 18px;
	font-size: 14px;
	line-height: 20px;
	white-space: nowrap;
	transition-duration: 0.3s;
	
	&.hidden {
		margin-left: 0;
		padding-left: 0;
		max-width: 0;
		width: 0;
		opacity: 0;
		transition-delay: 0s;
	}
	
	&::after {
		content: " ";
		display: block;
		position: absolute;
		top: 11px;
		left: 0px;
		width: 13px;
		height: 1px;
		background-color: #cecece;
	}
	
}

.sms__resend {
	max-width: 135px;
	transition-delay: 0s;
	
	&:hover {
		opacity: 0.6;
	}
}

.sms__resend-underline {
	display: inline-block;
	border-bottom: 1px dotted #000;
}

.sms__timer {
	max-width: 20px;
	transition-delay: 0.3s;
	
	&:hover {
		opacity: 0.6;
	}
}

.sms__send {
	margin-top: 29px;
}

@media (max-width: 1000px) {
	.sms__get {
		margin-top: 24px;
	}

	.sms {
		margin-top: 23px;
		max-height: 173px;
	}

	.sms__enter {
		font-size: 0;
	}

	.sms__text {
		padding-top: 0;
		width: 43%;	
		height: 54px;
		padding-right: 2%;
	}
	
	.sms__text-middle {
		padding-bottom: 1px;
		font-size: 14px;
		line-height: 17px;
	}

	.sms__label {
		margin-left: 0;
		width: 55%;
	}

	.sms__input {
		margin-left: -2px;
		width: 100%;
	}
	
	.sms__br-mobile {
		display: block;
	}

	.sms__resend,
	.sms__timer {
		margin-top: 6px;
		margin-left: 45%;
		padding-left: 0;
		max-width: none;
		width: 55%;
		text-align: center;
		font-size: 12px;
		line-height: 16px;
		
		&.hidden {
			max-width: none;
		}
		
		&::after {
			display: none;
		}
		
	}

	.sms__resend {
		
		&:hover {
			opacity: 1;
		}
	}

	.sms__timer {
		
		&:hover {
			opacity: 1;
		}
	}

	.sms__send {
		margin-top: 25px;
	}
}

/* SMS END */

/* Input placeholder */

.input__label {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.input {
	position: relative;
	z-index: 1;
	border: 1px solid #b0b0b0;
	border-radius: 4px;
	height: 52px;
	font-size: 20px;
	text-align: center;
	background-color: transparent;
	transition-duration: 0.3s;
	
	&:focus {
		border-color: #908e8e;
	}
	
	&:focus + .input__placeholder {
		color: #908e8e;
	}
}

.input__placeholder {
	position: absolute;
	top: 13px;
	width: 100%;
	font-size: 20px;
	text-align: center;
	color: #b0b0b0;
	transition-duration: 0.3s;
	
	&.focus {
		color: #908e8e;
	}
	
	&.active {
		top: 0;
		font-weight: 400;
		font-size: 12px;
	}
}

/* Input placeholder END*/

/* Questions */

.questions__header {
	position: relative;
	z-index: 2;
	background-color: #fff;
	
	&.questions__animate {
		margin-bottom: 0;
		max-height: 0;
		overflow: hidden;
		
		
		&.animated {
			margin-bottom: 27px;
			max-height: 168px;
			padding-bottom: 48px;
		}
	}
}

@media (max-width: 1000px) {
	.questions__header {
		
		
		&.questions__animate {
			
			
			&.animated {
				padding-bottom: 10px;
			}
		}
	}
}

.questions__nav {
	position: fixed;
	top: 231px;
	padding-top: 155px;
	padding-bottom: 155px;
	padding-right: 141px;
	height: 345px;
	margin-left: -200px;
}

.questions__nav-prev,
.questions__nav-next {
	position: absolute;
	width: 88px;
	height: 38px;
	background-image: url("../img/questions-nav.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 39px;
	opacity: 0;
	visibility: hidden;
	transition-duration: 0.3s;
	
	&.visible {
		opacity: 1;
		visibility: visible;
	}
}

.questions__nav-prev {
	top: 72px;
}

.questions__nav-next {
	bottom: 72px;
	transform: rotate(180deg);
}

.questions__nav-item {
	display: block;
	margin: 0;
	min-width: 88px;
	font-weight: 100;
	text-align: center;
	font-size: 0;
	color: #908e93;
	opacity: 0;
	cursor: default;
	transition-duration: 0.3s;
	
	.questions__nav-slash {
		display: inline-block;
		vertical-align: top;
		margin: 0;
		font-size: 0;
		line-height: 0;
		color: #c4c1c8;
		transition-duration: 0.25s;
	}
	
	&.active-1 {
		font-size: 55px;
		opacity: 1;
		color: #7a797d;
		
		.questions__nav-slash {
			margin-left: 3px;
			margin-right: 3px;
			margin-top: 35px;
			font-size: 55px;
		}
	}
	
	&.active-2 {
		font-size: 38px;
		opacity: 0.7;
		margin-bottom: 1px;
		
		.questions__nav-slash {
			margin-left: 3px;
			margin-right: 1px;
			margin-top: 24px;
			font-size: 38px;
		}
	}
	
	&.active-3 {
		margin-top: -2px;
		margin-bottom: -2px;
		font-size: 28px;
		opacity: 0.5;
		
		.questions__nav-slash {
			margin-left: 1px;
			margin-right: 2px;
			margin-top: 18px;
			font-size: 28px;
		}
	}
	
	&.active-4 {
		font-size: 20px;
		opacity: 0.3;
		
		.questions__nav-slash {
			margin-left: 1px;
			margin-right: 1px;
			margin-top: 13px;
			font-size: 20px;
		}
	}
	
	&.active-5 {
		font-size: 14px;
		
		.questions__nav-slash {
			margin-top: 9px;
			font-size: 14px;
		}
	}
	
	&.done {
		color: #ee3124;
		
		.questions__nav-slash {
			color: #ee3124;
		}
	}
	
	&.active {
		cursor: pointer;
		
		&.active-1 {
			cursor: default;
		}
	}
	
	&.fake {
		visibility: hidden;
	}
}

@media (max-height: 890px) {
	.questions__nav {
		padding-top: 45px;
		padding-bottom: 90px;
	}
	
	.questions__nav-prev {
		top: 20px;
	}
}

@media (max-width: 1200px) {
	.questions__nav {
		margin-left: -120px;
		padding-right: 61px;
	}
}

@media (max-width: 1000px) {

	.questions__nav {
		position: fixed;
		top: auto;
		left: 0;
		bottom: 0;
		z-index: 3;
		margin-left: 0;
		padding: 0;
		width: 100%;
		height: 60px;
		text-align: center;
		background-color: #f0f0f0;
	}
	
	.questions__nav-prev-next {
		display: none;
	}
	
	.questions__nav-items::before {
		content: " ";
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 58px;
	}

	.questions__nav-item {
		display: inline-block;
		vertical-align: middle;
		min-width: 0;
		
		.questions__nav-slash {
			
		}
		
		&.active-1 {
			padding: 0 7px;
			font-size: 37px;
			
			.questions__nav-slash {
				margin-top: 24px;
				margin-left: 2px;
				margin-right: 2px;
				font-size: 37px;
			}
		}
		
		&.active-2 {
			padding: 0 4px;
			font-size: 25px;
			
			.questions__nav-slash {
				margin-top: 16px;
				margin-left: 2px;
				margin-right: 1px;
				font-size: 25px;
			}
		}
		
		&.active-3 {
			padding: 2px 3px 0;
			font-size: 19px;
			
			.questions__nav-slash {
				margin-top: 13px;
				margin-left: 1px;
				margin-right: 1px;
				font-size: 19px;
			}
		}
		
		&.active-4 {
			padding: 2px 2px 0;
			font-size: 13px;
			
			.questions__nav-slash {
				margin-top: 9px;
				margin-left: 1px;
				margin-right: 1px;
				font-size: 13px;
			}
		}
		
		&.active-5 {
			padding: 0;
			font-size: 0;
			
			.questions__nav-slash {
				margin-top: 0;
				margin-left: 0;
				margin-right: 0;
				font-size: 0;
			}
		}
		
		&.done {

		
			.questions__nav-slash {
				
			}
		}
		
		&.active {		

		
			&.active-1 {
				
			}
		}
		
		&.fake {
			
		}
	}
}

.questions {
	position: relative;
	min-height: 430px;
	transition-duration: 0.3s;
	
	.questions__pages {
		min-height: 430px;
	}
	
	&.tall {
		min-height: 655px;
		
		.questions__pages {
			min-height: 655px;
		}
		
		.questions__scroll-wrapper {
			bottom: 0;
			
			.questions__scroll::before {
				/* margin-top: -456px; */
			}
		}
	}
}

@media (max-width: 1000px) {
	.questions {
		min-height: 0;
		
		.questions__pages {
			min-height: 0;
		}
		
		&.tall {
			min-height: 0;
			
			.questions__pages {
				min-height: 0;
			}
		}
	}
}

.questions__scroll-wrapper {
	position: absolute;
	top: 8px;
	left: 9px;
	bottom: -18px;
	height: 100%;
	max-height: 655px;
}

.questions__scroll {
	position: relative;
	height: 100%;
	width: 1px;
	background-color: #c4c1c8;
	
	&::before {
		content: " ";
		display: block;
		position: fixed;
		z-index: 1;
		/* margin-top: -231px; */
		width: 1px;
		height: 9999px;
		background-color: #c4c1c8;
		transition-duration: 0.3s;
	}
}

.questions__scroll-point {
	display: none;
	position: absolute;
	top: 0;
	z-index: 3;
	left: -10px;
	width: 21px;
	height: 21px;
	transform: translateY(-50%);
	background-image: url("../img/questions-nav-scroll-point.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 19px;
}

@media (max-width: 1000px) {
	.questions__scroll-wrapper {
		display: none;
		position: fixed;
		top: 7px;
		left: 13px;
	}
	
	.questions__scroll {
		height: 90%;
		background-color: transparent;
		
		&::before {
			display: none;
		}
	}

	.questions__scroll-point {
		left: -7px;
		width: 15px;
		height: 15px;
		background-size: 13px;
		
		&::before {
			content: " ";
			position: absolute;
			display: block;
			top: 7px;
			left: -6px;
			width: 7px;
			height: 1px;
			background-color: #c4c1c8;
		}
	}
}

.questions__pages {
	position: relative;
	overflow: hidden;
	margin-top: -18px;
	width: 815px;
	transition-duration: 0.3s;
	
	&.tall {
		margin-top: 0;
	}
}

.questions__page {
	position: absolute;
	z-index: 1;
	top: 0;
	padding-left: 50px;
	width: 765px;
	transition-duration: 0.3s;
	
	&.active {
		z-index: 2;
	}
	
	&.animate-up {
		transform: translateY(-200%);
	}
	
	&.animate-down {
		transform: translateY(200%);
	}
}

@media (max-width: 1000px) {
	.questions__pages {
		width: auto;
	}

	.questions__page {
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 90px;
		width: auto;
	}
}

.questions__title {
	display: inline-block;
	position: relative;
	margin-bottom: 18px;
	font-size: 28px;
	line-height: 36px;
	font-weight: 400;
	
	&.questions__title-margin-top {
		margin-top: 95px;
	}
	
	&.questions__title-margin-top-large {
		margin-top: 154px;
	}
	
	&.questions__title-margin-bottom {
		margin-bottom: 28px;
	}
	
	&.questions__title-margin-bottom-large {
		margin-bottom: 45px;
	}
	
	&::before {
		content: " ";
		position: absolute;
		top: 17px;
		left: -51px;
		z-index: 3;
		width: 21px;
		height: 21px;
		transform: translateY(-50%);
		background-image: url("../img/questions-nav-scroll-point.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 19px;
	}
}

.questions__subtitle {
	margin-bottom: 0;
	padding-left: 81px;
	height: 68px;
	font-size: 20px;
	line-height: 26px;
	font-weight: 400;
	background-repeat: no-repeat;
	
	&::before {
		content: " ";
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height:100%
	}
}

.questions__subtitle-1 {
	background-image: url("../img/q6-1.png");
	background-position: left 3px center;
	background-size: 66px;
}

.questions__subtitle-2 {
	background-image: url("../img/q6-2.png");
	background-position: left center;
	background-size: 67px;
}

.questions__subtitle-3 {
	background-image: url("../img/q6-3.png");
	background-position: left 11px center;
	background-size: 61px;
}

.questions__subtitle-text {
	display: inline-block;
	vertical-align: middle;
}

.questions__title-tooltip {
	display: inline-block;
	border-bottom: 1px dashed #ee3124;
	padding-top: 2px;
	line-height: 32px;
	color: #ee3124;
	cursor: help;
}

@media (max-height: 890px) {
	.questions__title {
		
		&.questions__title-margin-top-large {
			margin-top: 95px;
		}
	}
}

@media (max-width: 1000px) {
	.questions__title {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 3px;
		
		&.questions__title-margin-top {
			margin-top: 34px;
		}
		
		&.questions__title-margin-top-large {
			margin-top: 34px;
		}
		
		&.questions__title-margin-bottom {
			margin-bottom: 9px;
		}
		
		&.questions__title-margin-bottom-large {
			margin-bottom: 20px;
		}
	}

	.questions__subtitle {
		font-size: 15px;
		line-height: 21px;
		
		&::before {
			
		}
	}

	.questions__subtitle-1 {
		
	}

	.questions__subtitle-2 {
		
	}

	.questions__subtitle-3 {
		height: auto;
	}

	.questions__subtitle-text {
		
	}

	.questions__title-tooltip {
		line-height: 24px;
		margin-top: -2px;
	}
}

@media (max-width: 420px) {
	.questions__title {
		position: relative;
		
		&::before {
			content: " ";
			position: absolute;
			top: 12px;
			left: -24px;
			z-index: 3;
			width: 15px;
			height: 15px;
			transform: translateY(-50%);
			background-image: url("../img/questions-nav-scroll-point.png");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 13px;
		}
		
		&::after {
			content: " ";
			position: absolute;
			display: block;
			top: 12px;
			left: -30px;
			width: 7px;
			height: 1px;
			background-color: #c4c1c8;
		}
	}
}

.questions__radio {
	display: block;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px dashed #c4c1c8;
	border-radius: 3px;
	cursor: pointer;
	
	&.questions__radio-inline-block {
		display: inline-block;
		vertical-align: middle;
	}
	
	&.questions__radio-size-1,
	&.questions__radio-size-2 {

		.questions__radio-img {
			width: 94px;
		}
	}
	
	&.questions__radio-size-1 {
		width: 247px;
		
		.questions__radio-img {
			height: 74px;
		}
	}
	
	&.questions__radio-size-2 {
		width: 341px;
		
		.questions__radio-img {
			height: 78px;
		}
	}
	
	&.questions__radio-size-3,
	&.questions__radio-size-4,
	&.questions__radio-size-5 {
		
		&::after {
			content: " ";
			display: block;
			position: absolute;
			height: 1px;
			background-color: #c4c1c8;
		}
	}
	
	&.questions__radio-size-3,
	&.questions__radio-size-4	{
		height: 90px;
		text-align: center;
		
		.questions__radio-text {
			line-height: 86px;
		}
	}
	
	&.questions__radio-size-3 {
		width: 103px;
		
		&::after {
			bottom: -25px;
			left: 8px;
			width: 93px;
		}
	}
	
	&.questions__radio-size-4 {
		width: 189px;
		
		&::after {
			bottom: -25px;
			left: 2px;
			width: 185px;
		}
	}
	
	&.questions__radio-size-5 {
		margin-top: 19px;
		margin-left: -1px;
		width: 134px;
		height: 96px;
		padding-right: 15px;
		border-width: 0;
		background-image: url("../img/q3-btn.png");
		background-repeat: no-repeat;
		background-size: 147px;
		background-position: center;
		text-align: center;
		
		&::before {
			top: 0;
			left: 0; 
			border-width: 0;
			background-image: url("../img/q3-btn-hover.png");
			background-repeat: no-repeat;
			background-size: 147px;
			background-position: center;
		}
		
		&::after {
			left: 5px;
			bottom: -23px;
			width: 140px;
		}
		
		.questions__radio-text {
			line-height: 96px;
		}
		
		.questions__radio-active-left,
		.questions__radio-active-right {
			top: 0;
			border-width: 0;
			background-image: url("../img/q3-btn-checked.png");
			background-repeat: no-repeat;
			background-size: 147px;
		}

		.questions__radio-active-left {
			left: 0;
			background-position: left 1px center;
		}

		.questions__radio-active-right {
			right: 0;
			background-position: right 1px center;
		}
	}
	
	&.questions__radio-size-6,
	&.questions__radio-size-7,
	&.questions__radio-size-8,
	&.questions__radio-size-9 {
		margin-top: 10px;
		margin-bottom: 10px;

		.questions__radio-img {
			width: 92px;
		}
		
		.questions__radio-text {
			padding-top: 2px;
		}
	}
	
	&.questions__radio-size-6 {
		margin-right: 20px;
		width: 220px;
		
		.questions__radio-img {
			height: 118px;
		}
	}
	
	&.questions__radio-size-7 {
		width: 350px;
		
		.questions__radio-img {
			height: 118px;
		}
	}
	
	&.questions__radio-size-8 {
		margin-right: 20px;
		width: 300px;
		
		.questions__radio-img {
			height: 118px;
		}
	}
	
	&.questions__radio-size-9 {
		width: 270px;
		
		.questions__radio-img {
			height: 118px;
		}
	}
	
	&.questions__radio-size-10,
	&.questions__radio-size-11,
	&.questions__radio-size-12 {
		display: inline-block;
		vertical-align: bottom;
		margin-bottom: 54px;
		text-align: center;
		
		.questions__radio-text {
			font-size: 14px;
		}
	}
	
	&.questions__radio-size-10 {
		margin-top: 15px;
		margin-left: 87px;
		width: 134px;
		
		.questions__radio-text {
			line-height: 51px;
		}
	}
	
	&.questions__radio-size-11 {
		margin-left: 10px;
		width: 186px;
		
		.questions__radio-text {
			line-height: 35px;
		}
	}
	
	&.questions__radio-size-12 {
		margin-left: 10px;
		width: 104px;
		
		.questions__radio-text {
			line-height: 25px;
		}
	}
	
	&::before {
		content: " ";
		display: block;
		position: absolute;
		left: -2px;
		top: -2px;
		border: 2px solid #c4c1c8;
		border-radius: 3px;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition-duration: 0.3s;
	}
	
	&:hover::before {
		opacity: 1;
	}
}

.questions__radio-img {
	display: inline-block;
	vertical-align: middle;
	background-position: center;
	background-repeat: no-repeat;
	
	&.questions__radio-img-1-1 {
		background-image: url("../img/q1-1.png");
		background-size: 48px;
	}
	
	&.questions__radio-img-1-2 {
		background-image: url("../img/q1-2.png");
		background-size: 48px;
	}
	
	&.questions__radio-img-2-1 {
		background-image: url("../img/q2-1.png");
		background-size: 41px;
	}
	
	&.questions__radio-img-2-2 {
		background-image: url("../img/q2-2.png");
		background-size: 42px;
	}
	
	&.questions__radio-img-2-3 {
		background-image: url("../img/q2-3.png");
		background-size: 43px;
	}
	
	&.questions__radio-img-4-1 {
		background-image: url("../img/q4-1.png");
		background-size: 47px;
	}
	
	&.questions__radio-img-4-2 {
		background-image: url("../img/q4-2.png");
		background-size: 49px;
	}
	
	&.questions__radio-img-4-3 {
		background-image: url("../img/q4-3.png");
		background-size: 48px;
	}
	
	&.questions__radio-img-4-4 {
		background-image: url("../img/q4-4.png");
		background-size: 50px;
	}
	
	&.questions__radio-img-7-1 {
		background-image: url("../img/q7-1.png");
		background-size: 48px;
	}
	
	&.questions__radio-img-7-2 {
		background-image: url("../img/q7-2.png");
		background-size: 48px;
	}
	
	&.questions__radio-img-7-3 {
		background-image: url("../img/q7-3.png");
		background-size: 48px;
	}
}

.questions__radio-text {
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 2px;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	
	.questions__radio-text-large {
		font-size: 30px;
		color: #ee3124;
	}
	
	.questions__radio-text-light {
		font-weight: 300;
		font-size: 34px;
		line-height: 0;
	}
	
	.questions__radio-text-small {
		display: inline-block;
		padding-top: 4px;
		font-size: 12px;
		line-height: 16px;
		color: #909090;
	}
}

.questions__radio-input {
	opacity: 0;
	position: fixed;
	left: -1000px;
	
	&:checked + .questions__radio-active-left,
	&:checked + .questions__radio-active-left + .questions__radio-active-right {
		width: 50%;
		opacity: 1;
	}
}

.questions__radio-active-left,
.questions__radio-active-right {
	display: block;
	position: absolute;
	top: -2px;
	border-top: 2px solid #ee3124;
	border-bottom: 2px solid #ee3124;
	width: 0%;
	height: 100%;
	opacity: 0;
	transition-duration: 0.3s;
}

.questions__radio-active-left {
	left: -2px;
	border-left: 2px solid #ee3124;
	border-radius: 3px 0 0 3px;
}

.questions__radio-active-right {
	right: -2px;
	border-right: 2px solid #ee3124;
	border-radius: 0 3px 3px 0;
}

@media (max-width: 1000px) {
	.questions__radio-glue {
		margin-top: 12px;
		margin-right: -28px;
	}
	
	.questions__radio-block {
		margin-bottom: 40px;
		margin-top: 15px;
	}
	
	.questions__radio {
		
		
		&.questions__radio-inline-block {
			display: block;
		}
		
		&.questions__radio-size-1,
		&.questions__radio-size-2 {

			.questions__radio-img {
				width: 73px;
			}
		}
		
		&.questions__radio-size-1 {
			width: auto;
			
			.questions__radio-img {
				
			}
		}
		
		&.questions__radio-size-2 {
			width: auto;
			
			.questions__radio-img {
				
			}
		}
		
		&.questions__radio-size-3,
		&.questions__radio-size-4,
		&.questions__radio-size-5 {
			margin: auto;
			width: 90px;
			
			&::after {
				width: 1px;
			}
		}
		
		&.questions__radio-size-3,
		&.questions__radio-size-4	{
			
			
			&::after {
				left: -24px;
			}
		}
		
		&.questions__radio-size-3 {
			height: 43px;
			
			.questions__radio-text {
				line-height: 39px;
			}
			
			&::after {
				bottom: 5px;
				height: 34px;
			}
		}
		
		&.questions__radio-size-4 {
			height: 99px;
			
			.questions__radio-text {
				line-height: 97px;
			}
			
			&::after {
				bottom: 4px;
				height: 91px;
			}
		}
		
		&.questions__radio-size-5 {
			margin: 0 auto -1px;
			padding-right: 0;
			padding-top: 5px;
			width: 96px;
			height: 104px;
			background-image: url("../img/q3-btn-m.png");
			background-size: 94px;
			
			&::before {
				background-image: url("../img/q3-btn-hover-m.png");
				background-size: 94px;
			}
			
			.questions__radio-text {
				line-height: 109px;
			}
			
			&::after {
				bottom: 7px;
				height: 97px;
				left: -21px;
			}
			
			.questions__radio-text {
				
			}
			
			.questions__radio-active-left,
			.questions__radio-active-right {
				background-image: url("../img/q3-btn-checked-m.png");
				background-size: 94px;
			}
		}
		
		&.questions__radio-size-6,
		&.questions__radio-size-7,
		&.questions__radio-size-8,
		&.questions__radio-size-9 {
			width: auto;
			margin: 15px 0;

			.questions__radio-img {
				width: 74px;
			}
			
			.questions__radio-text {
				padding-top: 0;
				padding-bottom: 2px;
			}
		}
		
		&.questions__radio-size-6 {
			
			.questions__radio-img {
				height: 78px;
			}
		}
		
		&.questions__radio-size-7 {
			
			.questions__radio-img {
				height: 134px;
			}
		}
		
		&.questions__radio-size-8 {
			
			.questions__radio-img {
				height: 80px;
			}
		}
		
		&.questions__radio-size-9 {
			
			.questions__radio-img {
				height: 98px;
			}
		}
		
		&.questions__radio-size-10,
		&.questions__radio-size-11,
		&.questions__radio-size-12 {
			display: block;
			margin: 10px 0;
			
			.questions__radio-text {
				font-size: 13px;
			}
		}
		
		&.questions__radio-size-10 {
			width: 232px;
			
			.questions__radio-text {
				line-height: 41px;
			}
		}
		
		&.questions__radio-size-11 {
			width: 174px;
			
			.questions__radio-text {
				line-height: 35px;
			}
		}
		
		&.questions__radio-size-12 {
			width: 98px;
			
			.questions__radio-text {
				line-height: 25px;
			}
		}
		
		&::before {
			
		}
		
		&:hover::before {
			
		}
	}

	.questions__radio-text {
		font-size: 14px;
		
		.questions__radio-text-large {
			font-size: 26px;
		}
		
		.questions__radio-text-light {
			font-size: 28px;
		}
		
		.questions__radio-text-small {
			
		}
	}

	.questions__radio-input {
		
		
		&:checked + .questions__radio-active-left,
		&:checked + .questions__radio-active-left + .questions__radio-active-right {
			
		}
	}

	.questions__radio-active-left,
	.questions__radio-active-right {
		
	}

	.questions__radio-active-left {
		
	}

	.questions__radio-active-right {
		
	}
}

.questions__inflation {
	position: relative;
	margin-top: -2px;
	margin-bottom: 22px;
	padding-left: 311px;
	font-size: 11px;
	line-height: 1px;
	letter-spacing: 1px;
	text-transform: uppercase;
	
	&::before {
		content: " ";
		position: absolute;
		left: 0;
		top: 1px;
		border-bottom: 1px dotted #000;
		width: 301px;
		height: 0;
	}
}

@media (max-width: 1000px) {
	.questions__inflation {
		margin-top: -1px;
		margin-bottom: 21px;
		padding-left: 0px;
		font-size: 9px;
		text-align: center;
		
		&::before {
			top: 0;
			width: 100%;
		}
		
		.questions__inflation-text {
			position: relative;
			padding: 0 10px;
			background-color: #fff;
		}
	}
}

.questions__glue {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 8px;
	height: 85px;
	background-image: url("../img/q3-bg.png");
	background-repeat: repeat;
	
	&::after {
		content: attr(data-year);
		display: block;
		width: 100%;
		position: absolute;
		bottom: -38px;
		font-size: 16px;
		color: #c4c1c8;
		text-align: center;
	}
	
	&.questions__glue-no-width {
		width: 0;
		
		&::after {
			left: -3px;
		}
	}
	
	&.questions__glue-arrow {
		width: 0;
		
		&::after {
			content: " ";
			display: block;
			width: 8px;
			height: 11px;
			position: absolute;
			bottom: -33px;
			left: -9px;
			background-image: url("../img/q3-arrow.png");
			background-repeat: no-repeat;
			background-size: 6px;
			background-position: center;
		}
	}
}

@media (max-width: 1000px) {
	.questions__glue {
		display: block;
		margin: auto;
		width: 84px;
		height: 8px;
		
		&::after {
			bottom: -8px;
			left: -68px;
		}
		
		&.questions__glue-no-width {
			
			
			&::after {
				left: -73px;
			}
		}
		
		&.questions__glue-arrow {
			
			
			&::after {
				width: 11px;
				height: 8px;
				bottom: -11px;
				left: -74px;
				background-image: url("../img/q3-arrow-m.png");
				background-size: 9px;
			}
		}
	}
}

.questions__briefcase {
	
	.jcf-range {
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin-top: 5px;
		margin-left: 47px;
		width: 2px;
		height: 247px;
		background-color: #c4c1c8;
	}
	
	.questions__briefcase-range {
		position: absolute;
		left: -9999px;
		width: 1px;
		height: 1px;
	}
	
	.jcf-range-wrapper {
		display: block;
		width: 100%;
		height: 100%;
	}
	
	.jcf-range-track {
		display: block;
		width: 339px;
		height: 100%;
		margin-top: 19px;
		margin-left: -319px;
	}
	
	.jcf-range-handle {
		display: block;
		position: absolute;
		bottom: 0;
		left: -42px;
		z-index: 1;
		width: 62px;
		height: 38px;
		background-image: url("../img/q5-arrow.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 60px;
		cursor: pointer;
		transform: translateY(19px);
		
		&.animated {
			transition-duration: 0.3s;
		}
	}
	
	.jcf-range-mark {
		position: absolute;
		bottom: 0;
		left: -5px;
		width: 12px;
		height: 2px;
		background-color: #c4c1c8;
	}
}

.questions__briefcase-img {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	position: relative;
	margin-left: -6px;
	width: 277px;
	height: 225px;
	background-image: url(../img/q5-1.png);
	background-repeat: no-repeat;
	background-size: 261px;
	background-position: center bottom 2px;
}

.questions__briefcase-img-fill-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 219px;
}

.questions__briefcase-img-fill {
	position: absolute;
	bottom: 0;
	left: 7px;
	width: 263px;
	height: 0;
	background-image: url(../img/q5-2.png);
	background-repeat: no-repeat;
	background-size: 261px;
	background-position: center bottom 2px;
	
	&.animated {
		transition-duration: 0.3s;
	}
}

.questions__briefcase-img-line-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 219px;
}

.questions__briefcase-img-line {
	position: absolute;
	bottom: -2px;
	left: 0px;
	width: 100%;
	height: 0;
	border-bottom: 2px dashed #000;
	
	&.animated {
		transition-duration: 0.3s;
	}
}

#questions__briefcase-levels {
	display: none;
}

.questions__briefcase-levels {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-left: 25px;
}

.questions__briefcase-level {
	position: absolute;
	font-size: 20px;
	line-height: 18px;
	
	.questions__briefcase-level-number {
		transition-duration: 0.3s;
	}
	
	&.active {
		
		.questions__briefcase-level-number {
			font-size: 40px;
		}
	}
}

.questions__briefcase-level-1 {
	top: -7px;
}

.questions__briefcase-level-2 {
	top: 59px;
}

.questions__briefcase-level-3 {
	top: 147px;
}

.questions__briefcase-level-4 {
	top: 212px;
}

@media (max-width: 1000px) {
	.questions__briefcase {
		width: 260px;
		margin: auto;
		
		.jcf-range {
			margin-top: 4px;
			margin-left: 32px;
			height: 164px;
		}
		
		.questions__briefcase-range {
			
		}
		
		.jcf-range-wrapper {
			
		}
		
		.jcf-range-track {
			margin-top: 12px;
		}
		
		.jcf-range-handle {
			left: -28px;
			width: 42px;
			height: 26px;
			background-size: 40px;
			transform: translateY(12px);
			
			&.animated {
				
			}
		}
		
		.jcf-range-mark {
			left: -7px;
			width: 16px;
		}
	}

	.questions__briefcase-img {
		margin-left: -8px;
		width: 189px;
		height: 149px;
		background-size: 173px;
	}

	.questions__briefcase-img-fill-wrapper {
		height: 145px;
	}

	.questions__briefcase-img-fill {
		background-size: 173px;
		width: 175px;
		
		
		&.animated {
			
		}
	}

	.questions__briefcase-img-line-wrapper {
		height: 145px;
	}

	.questions__briefcase-img-line {
		
		
		&.animated {
			
		}
	}

	#questions__briefcase-levels {
		
	}

	.questions__briefcase-levels {
		margin-left: 16px;
	}

	.questions__briefcase-level {
		font-size: 14px;
		line-height: 12px;
		
		.questions__briefcase-level-number {
			
		}
		
		&.active {
			
			.questions__briefcase-level-number {
				font-size: 24px;
			}
		}
	}

	.questions__briefcase-level-1 {
		top: -4px;
	}

	.questions__briefcase-level-2 {
		top: 41px;
	}

	.questions__briefcase-level-3 {
		top: 98px;
	}

	.questions__briefcase-level-4 {
		top: 141px;
	}
}

.questions__btn-next-container {
	margin-top: 50px;
	margin-bottom: 75px;
	text-align: right;
}

@media (max-width: 1000px) {
	.questions__btn-next-container {
		margin-top: 40px;
		margin-bottom: 0;
		
		&.questions__btn-next-container-margin-top-small {
			margin-top: 17px;
		}
	}
}

.questions__btn-next-block {
	display: inline-block;
	text-align: center;
}

.questions__next-btn {
	opacity: 0.4;
	cursor: default;
	
	&.active {
		opacity: 1;
		cursor: pointer;
	}
}

@media (max-width: 1000px) {
	.questions__btn-next-block {
		display: block;
	}

	.questions__next-btn {
		
		
		&.active {
			
		}
	}

}

.questions__invest {
	
	.jcf-range {
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin-top: 5px;
		margin-left: 47px;
		width: 2px;
		height: 253px;
		background-color: #c4c1c8;
	}
	
	.questions__invest-range {
		position: absolute;
		left: -9999px;
		width: 1px;
		height: 1px;
	}
	
	.jcf-range-wrapper {
		display: block;
		width: 100%;
		height: 100%;
	}
	
	.jcf-range-track {
		display: block;
		width: 339px;
		height: 100%;
		margin-top: 19px;
		margin-left: -319px;
	}
	
	.jcf-range-handle {
		display: block;
		position: absolute;
		bottom: 0;
		left: -42px;
		z-index: 1;
		width: 498px;
		background-image: url("../img/q5-arrow.png");
		background-repeat: no-repeat;
		background-position: left 1px top 1px;
		background-size: 60px;
		cursor: pointer;
		transform: translateY(18px);
		
		&.animated {
			transition-duration: 0.3s;
		}
		
		.questions__paragraph-size-1,
		.questions__paragraph-size-2 {
			display: block;
			font-size: 20px;
			line-height: 18px;
			opacity: 0;
			transition-duration: 0.3s;
		}
		
		.questions__paragraph-size-1 {
			margin-top: 7px;
			margin-left: 47px;
			margin-bottom: 0;
			
			.questions__invest-this {
				font-size: 40px;
			}
			
			.questions__paragraph-percent-other {
				font-size: 16px;
				font-weight: 400;
			}
		}
		
		.questions__paragraph-size-2 {
			margin-top: 1px;
			margin-left:49px;
			margin-bottom: -16px;
			font-size: 13px;
			color: #8f8f8f;
		}
		
		.questions__paragraph-percent {
			display: inline-block;
			width: 100px;
			text-align: right;
		}
		
		.questions__invest-this {
			max-width: none;
			width: auto;
		}
		
		&.visible {
			
			.questions__paragraph-size-1,
			.questions__paragraph-size-2 {
				opacity: 1;
			}
		}
	}
	
	.jcf-range-mark {
		position: absolute;
		bottom: 0;
		left: -5px;
		width: 12px;
		height: 2px;
		background-color: #c4c1c8;
	}
}

.questions__invest-img {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	position: relative;
	margin-left: -6px;
	margin-top: 4px;
	width: 267px;
	height: 204px;
	background-image: url(../img/q8-1.png);
	background-repeat: no-repeat;
	background-size: 251px;
	background-position: center bottom 2px;
}

.questions__invest-img-fill-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 202px;
}

.questions__invest-img-fill {
	position: absolute;
	bottom: 0;
	width: 267px;
	height: 0;
	background-image: url(../img/q8-2.png);
	background-repeat: no-repeat;
	background-size: 251px;
	background-position: center bottom 2px;
	
	&.animated {
		transition-duration: 0.3s;
	}
}

.questions__invest-img-line-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 202px;
}

.questions__invest-img-line {
	position: absolute;
	bottom: -2px;
	left: 0px;
	width: 100%;
	height: 0;
	border-bottom: 2px dashed #000;
	
	&.animated {
		transition-duration: 0.3s;
	}
}

.questions__invest-range-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 394px;
}

.questions__invest-range-levels {
	padding-left: 1px;
}

#questions__invest-levels {
	display: none;
}

.questions__invest-levels {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-left: 25px;
}

.questions__invest-level {
	position: absolute;
	font-size: 20px;
	line-height: 18px;
	right: 39px;
	transition-duration: 0.15s;
	
	.questions__invest-level-number {
		transition-duration: 0.3s;
	}
	
	&.active {
		
		.questions__invest-level-number {
			font-size: 40px;
		}
	}
	
	&.hidden {
		opacity: 0;
	}
	
	.questions__invest-level-text-1,
	.questions__invest-level-text-2 {
		opacity: 0;
		transition-duration: 0.3s;
	}
	
	.questions__invest-level-text-1 {
		font-size: 16px;
		font-weight: 400;
	}
	
	.questions__invest-level-text-2 {
		margin-top: 1px;
		font-size: 13px;
		color: #8f8f8f;
	}
	
	&.visible {
		
		.questions__invest-level-text-1,
		.questions__invest-level-text-2 {
			opacity: 1;
		}
	}
}

.questions__invest-level-1 {
	top: 195px;
}

.questions__invest-level-2 {
	top: 145px;
}

.questions__invest-level-3 {
	top: 95px;
}

.questions__invest-level-4 {
	top: 45px;
}

.questions__invest-level-5 {
	top: -5px;
}

.questions__paragraph {
	
}

.questions__paragraph-size-1 {
	display: none;
	margin-top: 30px;
	margin-bottom: 6px;
	font-size: 22px;
	line-height: 26px;
}

.questions__paragraph-size-2 {
	display: none;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 29px;
}

.questions__paragraph-size-3 {
	margin-top: 15px;
	margin-right: 35px;
	font-size: 14px;
	line-height: 19px;
	display: inline-block;
	vertical-align: top;
}

.questions__invest-this,
.questions__invest-other {
	display: inline-block;
	text-align: right;
}
.questions__invest-this {
	max-width: 38px;
	width: 38px;
}

.questions__invest-other {
	max-width: 28px;
	width: 28px;
}

@media (max-width: 1000px) {
	.questions__invest {
		width: 260px;
		margin: auto;
		
		.jcf-range {
			margin-top: 4px;
			margin-left: 32px;
			height: 176px;
		}
		
		.questions__invest-range-wrapper {
			width: 94px;
		}
		
		.questions__invest-range {
			
		}
		
		.jcf-range-wrapper {
			
		}
		
		.jcf-range-track {
			margin-top: 12px;
		}
		
		.jcf-range-handle {
			left: -28px;
			width: 42px;
			height: 26px;
			background-size: 40px;
			transform: translateY(12px);
			
			&.animated {
				
			}
			
			.questions__paragraph-size-1,
			.questions__paragraph-size-2 {
				display: none;
			}
		}
		
		.jcf-range-mark {
			left: -7px;
			width: 16px;
		}
	}

	.questions__invest-img {
		margin-top: 2px;
		margin-left: -8px;
		width: 174px;
		height: 143px;
		background-size: 174px;
	}

	.questions__invest-img-fill-wrapper {
		height: 141px;
	}

	.questions__invest-img-fill {
		background-size: 174px;
		width: 174px;
		
		
		&.animated {
			
		}
	}

	.questions__invest-img-line-wrapper {
		height: 141px;
	}

	.questions__invest-img-line {
		
		
		&.animated {
			
		}
	}

	#questions__invest-levels {
		
	}

	.questions__invest-levels {
		margin-left: 16px;
	}

	.questions__invest-level {
		font-size: 14px;
		line-height: 12px;
		right: auto;
		
		.questions__invest-level-number {
			
		}
		
		&.active {
			
			.questions__invest-level-number {
				font-size: 24px;
			}
		}
		
		&.hidden {
			opacity: 1;
		}
		
		.questions__invest-level-text-1,
		.questions__invest-level-text-2 {
			display: none;
		}
	}

	.questions__invest-level-1 {
		top: 137px;
	}

	.questions__invest-level-2 {
		top: 102px;
	}

	.questions__invest-level-3 {
		top: 66px;
	}

	.questions__invest-level-4 {
		top: 30px;
	}
	
	.questions__invest-level-5 {
		top: -5px;
	}
	
	.questions__paragraph-percent {
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;
	}
	
	.questions__invest-this {
		font-size: 36px;
		max-width: 67px;
		width: 67px;
	}
	
	.questions__paragraph-percent-other {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		line-height: 19px;
		font-weight: 400;
	}
	
	.questions__paragraph-size-1,
	.questions__paragraph-size-2 {
		display: block;
	}
	
	.questions__paragraph-size-2 {
		color: #8f8f8f;
		
		.questions__paragraph-percent {
			font-weight: 100
		}
	}
	
	.questions__paragraph-size-3 {
		font-size: 12px;
		line-height: 14px;
		margin-right: 0;
		text-align: center;
		display: block;
		margin-bottom: 14px;
	}
}

.questions__link-back {
	display: none;
	/* display: inline-block; */
	margin-top: 25px;
	font-size: 14px;
	border-bottom: 1px solid #000;
	opacity: 0.6;
	transition-duration: 0.3s;
	
	&:hover {
		opacity: 1;
	}
 }

.questions__animate {
	opacity: 0;
	visibility: hidden;
	transition-duration: 0.3s;
	
	&.animated {
		opacity: 1;
		visibility: visible;
		transition-delay: 0.3s;
		
		&.questions__animate-no-delay {
			transition-delay: 0s;
		}
	}
}
/* Questions END */